/*
.choice:hover {
    cursor: pointer;
    animation: bounce .5s linear; 
}

.choice svg .icon {
    fill: var(--foreground-color);
    transition: all .5s ease;
}

.choice:hover svg .icon{
    fill: var(--enfasis-color);
}

@keyframes bounce {
    20%, 50%, 80%, to {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    70% {
        transform: translateY(-15px);
    }
    90% {
        transform: translateY(-4px);
    }
}
*/

:root {
    --back-color: #FBDE44FF;
    --foreground-color: rgb(48, 48, 48);
    --enfasis-color: #F65058FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

html, body {
    overflow: hidden;
}

body {
    height: 100vh;
    background-color: var(--back-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  ================================= Desktop styling ================================= */

/*  rock paper and scissors entry text  */

.box-dialog {
    visibility: hidden;
    position: absolute;
    width: 90vw;
    height: fit-content;
    font-family: 'Permanent Marker', cursive;
    color: var(--foreground-color);
    font-size: 12vw;
    text-align: center;
}

.box-dialog--top-entry {
    animation: top-entry 3500ms ease;
}

@keyframes top-entry {
    0% {
        transform: translateY(-100vh);
    }
    25% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(0vh);
    }
    100% {
        visibility: visible;
        transform: translateY(100vh);
    }
}

/*  display choices  */

.choices {
    position: absolute;
    width: 90vw;
    max-width: 2000px;
    height: fit-content;
    bottom: 5%;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.choices__item {
    width: 20vw;
    max-width: 480px;
    min-width: calc(120px + 10vh);
    display: flex;
    justify-content: center;
    fill: var(--foreground-color);
}

.choices__rock--entry {
    animation: choices-top-entry 1000ms 3500ms ease backwards;
}

.choices__scissors--entry {
    animation: choices-top-entry 1000ms 3700ms ease backwards;
}

.choices__paper--entry {
    animation: choices-top-entry 1000ms 3900ms ease backwards;
}

@keyframes choices-top-entry {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0vh);
    }
}
/*  ================================= Mobile styling ================================= */

/*  rock paper and scissors entry text  */

.span-dialog {
    position: absolute;
    text-align: center;
    font-size: 10vw;
    font-family: 'Permanent Marker', cursive;
    color: var(--foreground-color);
    font-weight: 900;
}

.span-dialog-1 {
    transform: translateY(-50%) translateX(-100vw);
}

.span-dialog-2 {
    transform: translateY(50%) translateX(100vw);
}

.span-dialog--left-entry {
    animation: left-entry 3500ms ease;
}
    
.span-dialog--right-entry {
    animation: right-entry 3500ms ease;
}


@keyframes left-entry {
    0% {
        transform: translateY(-50%) translateX(-100vw);
    }
    25% {
        transform: translateY(-50%) translateX(0vw);
    }
    75% {
        transform: translateY(-50%) translateX(0vw);
    }
    100% {
        transform: translateY(-50%) translateX(100vw);
    }
}

@keyframes right-entry {
    0% {
        transform: translateY(50%) translateX(100vw);
    }
    25% {
        transform: translateY(50%) translateX(0vw);
    }
    75% {
        transform: translateY(50%) translateX(0vw);
    }
    100% {
        transform: translateY(50%) translateX(-100vw);
    }
}

/*  choices carousel  */

.scene {
    position: absolute;
    width: 300px;
    height: 300px;
    bottom: 3vh;
    perspective: 700px;
}

.carousel {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 200ms ease;
    transform: translateZ(-300px) rotateY(0deg);
}


.carousel__item {
    width: 100%;
    height: 100%;
    fill: var(--foreground-color);
    position: absolute;
}

.carousel__item--front {
    transform: rotateY(0) translateZ(200px) scale(1.2);
}

.carousel__item--right {
    transform: rotateY(120deg) translateZ(200px);
    opacity: 0.2;
}

.carousel__item--left {
    transform: rotateY(240deg) translateZ(200px);
    opacity: 0.2
}

.carousel--entry {
    animation: carousel-entry 1000ms 3500ms ease backwards;
}

@keyframes carousel-entry {
    0% {
        transform: translateY(100vh) translateZ(-300px) rotateY(0deg);
    }
    100%  {
        transform: translateY(0vh) translateZ(-300px) rotateY(0deg);
    }
}






















/*  score counter styling for both devices */

.score-counter {
    background-color: var(--foreground-color);
    position: absolute;
    width: 10vw;
    max-width: 250px;
    min-width: 80px;
    height: 10vw;
    max-height: 250px;
    min-height: 80px;
    top: 5vh;
    font-family: 'Permanent Marker', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.score-counter span {
    font-size: 3.7vw;
}

.score-counter span.score-counter__label{
    font-size: 2.3vw;
}

@media screen and (max-width: 500px) {
    .score-counter span {
        font-size: 8vw;
    }

    .score-counter span.score-counter__label{
        font-size: 5vw;
    }
}

.score-counter-player {
    left: 0;
    border-radius: 0 20px 20px 0;
    animation: score-left-entry 1000ms 4500ms ease backwards;
}

.score-counter-pc {
    right: 0;
    border-radius: 20px 0 0 20px;
    animation: score-right-entry 1000ms 4500ms ease backwards;
}

@keyframes score-left-entry {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes score-right-entry {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}