:root {
    --back-color: #FBDE44FF;
    --foreground-color: rgb(48, 48, 48);
    --enfasis-color: #F65058FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

html, body {
    overflow: hidden;
}

body {
    height: 100vh;
    background-color: var(--back-color);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  ================================= Desktop styling ================================= */

/*  rock paper and scissors entry text  */

.box-dialog {
    position: absolute;
    width: 90vw;
    height: fit-content;
    font-family: 'Permanent Marker', cursive;
    color: var(--foreground-color);
    font-size: 12vw;
    text-align: center;
    transform: translateY(-100vh);
}

.box-dialog--top-entry {
    animation: top-entry 3500ms ease;
}

@keyframes top-entry {
    0% {
        transform: translateY(-100vh);
    }
    25% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(0vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

/*  display choices  */

.choices {
    position: absolute;
    width: 90vw;
    max-width: 2000px;
    height: fit-content;
    bottom: 5%;
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.choices__item {
    width: 20vw;
    max-width: 480px;
    min-width: calc(120px + 10vh);
    display: flex;
    justify-content: center;
    fill: var(--foreground-color);
}

/*  ================================= Mobile styling ================================= */

/*  rock paper and scissors entry text  */

.span-dialog {
    position: absolute;
    text-align: center;
    font-size: 10vw;
    font-family: 'Permanent Marker', cursive;
    color: var(--foreground-color);
    font-weight: 900;
}

.span-dialog-1 {
    transform: translateY(-50%) translateX(-100vw);
}

.span-dialog-2 {
    transform: translateY(50%) translateX(100vw);
}

.span-dialog--left-entry {
    animation: left-entry 3500ms ease;
}
    
.span-dialog--right-entry {
    animation: right-entry 3500ms ease;
}


@keyframes left-entry {
    0% {
        transform: translateY(-50%) translateX(-100vw);
    }
    25% {
        transform: translateY(-50%) translateX(0vw);
    }
    75% {
        transform: translateY(-50%) translateX(0vw);
    }
    100% {
        transform: translateY(-50%) translateX(100vw);
    }
}

@keyframes right-entry {
    0% {
        transform: translateY(50%) translateX(100vw);
    }
    25% {
        transform: translateY(50%) translateX(0vw);
    }
    75% {
        transform: translateY(50%) translateX(0vw);
    }
    100% {
        transform: translateY(50%) translateX(-100vw);
    }
}

/*  choices carousel  */

.scene {
    position: absolute;
    width: 300px;
    height: 300px;
    top:55vh;
    perspective: 700px;
}

.carousel {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 200ms ease;
    transform: translateZ(-300px) rotateY(0deg);
}


.carousel__item {
    width: 100%;
    height: 100%;
    fill: var(--foreground-color);
    position: absolute;
}

.carousel__item--front {
    transform: rotateY(0) translateZ(200px) scale(1.2);
}

.carousel__item--right {
    transform: rotateY(120deg) translateZ(200px);
    opacity: 0.2;
}

.carousel__item--left {
    transform: rotateY(240deg) translateZ(200px);
    opacity: 0.2
}

.carousel--entry {
    animation: carousel-entry 4000ms ease;
}

@keyframes carousel-entry {
    0% {
        transform: translateY(100vh) translateZ(-300px) rotateY(0deg);
    }
    75% {
        transform: translateY(100vh) translateZ(-300px) rotateY(0deg);
    }
    100%  {
        transform: translateY(0vh) translateZ(-300px) rotateY(0deg);
    }
}






















/* 
#container {
    width: 1100px;
    height: 30vh;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
}



.choice:hover {
    cursor: pointer;
    animation: bounce .5s linear; 
}

.choice svg .icon {
    fill: var(--foreground-color);
    transition: all .5s ease;
}

.choice:hover svg .icon{
    fill: var(--enfasis-color);
} */

/* .choice::after {
    content: "";
    position: absolute;
    background: black;
    height: 10px;
    width: 50%;
    border-radius: 50%;
    bottom: -50%;
    filter: blur(4px);
    opacity: .3;
} */
/* 
.choice:hover::after {
    animation: shadow .5s linear;
}

@keyframes shadow {
    20%, 50%, 80%, to {
        transform: scale(1);
    }
    40% {
        transform: scale(0.5);
    }
    70% {
        transform: scale(0.5);
    }
    90% {
        transform: scale(0.5);
    }
}

@keyframes bounce {
    20%, 50%, 80%, to {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    70% {
        transform: translateY(-15px);
    }
    90% {
        transform: translateY(-4px);
    }
}
 */
